.login{
    width: 400px;
    height: 700px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -350px;
    text-align: center;
    padding: 25px;
    border-radius: 25px;
}
.login img{
    width: 40%;
}

.login input{
display: block;
width: 400px;
margin: 0 auto;
margin-bottom: 15px;
text-indent: 20px;
}

.btn-login{
    padding: 6px;
    background-color: red;
    color:#fff;
    border-radius: 5px;
    text-decoration: none;
    width: 410px;

}

.btn-codigo{
    padding: 8px;
    background-color:rgba(68, 67, 67, 0.8);
    color:#fff;
    border-radius: 5px;
    text-decoration: none;
    width: 400px;
    display: block;
}
.input p{
    color: #fff;
}